envname/
archive/elec - PDF 1-9-2024.py
archive/elec - V2.py
archive/elec - V1.py
archive/elec_streamlit 20-9-2024.py
archive/templates/index.html
archive/templates/plots.html
archive/templates/results.html

